body {
  font-family: Barlow semi Condensed, sans-serif;
  background-color: #d3d3d3;
}
.total {
  margin: 100px 200px 100px 200px;
}
.division-1 {
  width: 450px;
  height: 160px;
  background-color: hsl(263, 55%, 52%);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
.daniel {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.name {
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  position: relative;
  left: 15px;
  bottom: 10px;
  height: 15px;
}
.qualification {
  font-size: 10px;
  color: hsl(0, 0%, 81%);
  position: relative;
  left: 45px;
  bottom: 50px;
}
.about {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  position: relative;
  bottom: 45px;
}
.description {
  font-size: 10px;
  color: hsl(0, 0%, 81%);
  position: relative;
  bottom: 45px;
}
.division-2 {
  width: 180px;
  height: 160px;
  background-color: hsl(0, 0%, 35%);
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  position: relative;
  left: 500px;
  bottom: 200px;
}
.jonathan {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.name1 {
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  position: relative;
  left: 15px;
  bottom: 10px;
  height: 15px;
}
.qualification1 {
  font-size: 10px;
  color: hsl(0, 0%, 81%);
  position: relative;
  left: 50px;
  bottom: 20px;
}
.about1 {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  position: relative;
  bottom: 15px;
}
.description1 {
  font-size: 10px;
  color: hsl(0, 0%, 81%);
  position: relative;
  bottom: 15px;
}
.division-3 {
  width: 180px;
  height: 160px;
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  position: relative;
  bottom: 190px;
}
.JH {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.name2 {
  font-size: 12px;
  color: black;
  position: relative;
  left: 15px;
  bottom: 10px;
  height: 15px;
}
.qualification2 {
  font-size: 10px;
  color: #041c32;
  position: relative;
  left: 50px;
  bottom: 23px;
}
.about2 {
  color: black;
  font-size: 15px;
  position: relative;
  bottom: 15px;
}
.description2 {
  font-size: 10px;
  color: #041c32;
  position: relative;
  bottom: 15px;
}
.division-4 {
  width: 450px;
  height: 160px;
  background-color: black;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  position: relative;
  left: 230px;
  bottom: 390px;
}
.PA {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.name3 {
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  position: relative;
  left: 15px;
  bottom: 10px;
  height: 15px;
}
.qualification3 {
  font-size: 10px;
  color: hsl(0, 0%, 81%);
  position: relative;
  left: 45px;
  bottom: 20px;
}
.about3 {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  position: relative;
  bottom: 20px;
}
.description3 {
  font-size: 10px;
  color: hsl(0, 0%, 81%);
  position: relative;
  bottom: 15px;
}
.division-5 {
  width: 180px;
  height: 370px;
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  position: relative;
  left: 730px;
  bottom: 800px;
}
.KW {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.name4 {
  font-size: 12px;
  color: black;
  position: relative;
  left: 20px;
  bottom: 10px;
  height: 15px;
}
.qualification4 {
  font-size: 10px;
  color: #041c32;
  position: relative;
  left: 45px;
  bottom: 20px;
}
.about4 {
  color: black;
  font-size: 15px;
  position: relative;
  bottom: 15px;
}
.description4 {
  width: 85%;
  font-size: 10px;
  color: #041c32;
  position: relative;
  bottom: 15px;
}
.attribution {
  position: relative;
  bottom: 790px;
  left: 250px;
}
